@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --button-blue: #0e7ceb;
    --button-blue-hover: #0c69c7;
}

body {
    max-width: 30em;
    margin: auto;
    padding: 1em;
    font-family: 'Inter', sans-serif;
}

#unlock-error, #save-error {
    color: #ff0000;
}

#saving {
    opacity: 50%;
    display: none;
}


#passwords-table {
    display: flex;
    flex-direction: column;
}

#passwords-table > div {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    border-radius: 5px;
}

#passwords-table .hidden {
    display: none;
}

#passwords-table.showhidden .hidden {
    display: flex;
}

#passwords-table > div:hover {
    background-color: rgba(0, 0, 0, 5%);
}

.service-name {
    flex-grow: 1;
}

.copy-link, .edit-link, .delete-link {
    margin: 0 0.5em;
}

.copy-link > a {
    animation-duration: 1s;
}

.delete-link {
    margin-right: 0;
}

@keyframes pulse-green {
    from { color: #00ff00; }
    to { color: #0000ff; }
}

#editor {
    max-width: 25em;
    border: none;
    border-radius: 5px;
    padding: 1.5em;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    margin: 0.5em 0;
    padding: 0.5em;
    box-sizing: border-box;
    margin-bottom: 1em;
}

#editor::backdrop {
    background-color: black;
    opacity: 50%;
}

a, a:visited {
    color: #0000ff;
}

.service-icon {
    display: flex;
    margin-right: 0.5em;
}

.service-icon img {
    margin: auto;
    width: 16px;
    height: 16px;
}

button {
    border-radius: 5px;
    border: 1px solid #888888;
    font-weight: 500;
    font-size: 11pt;
    padding: 0.5em 0.7em;
    cursor: pointer;
    font-family: inherit;
}

.button-blue {
    border: none;
    background-color: var(--button-blue);
    color: #ffffff;
}

.button-blue:hover {
    background-color: var(--button-blue-hover);
}